body {
  margin: 0;
}

header {
  background-color: #3796C9;
  text-align: left;
  font-size: 30px;
  height: 100px;
  padding-top: 0px;
  padding-left: 30px;
  font-family:  Sans Serif Collection;
  color: rgb(233, 236, 238);
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height: 35px;
  padding: 0px;
  display: flex;
  font-size: 20px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  font-family: calibri;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
b {
  padding: 10px;
}
.box{
  padding : 20px 55px;
  font-family: Sans Serif Collection;
}

.description {
  width: 55vw;
  font-family: calibri;
}

.welcome-container {
  padding-top: 20px;
  font-weight: bold;
}

.style {
  display: inline-block;
  padding: 0px 30px 20px 0px;
  border: solid 1px #CDCDCD;
  line-height: 1.7;
  margin-top: 0px;

  .paragraph {
    padding-left: 20px;
    margin: 0px;
  }

  .paragraph::before {
    content: "-";
    font-weight: bold;
  }
}